/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

/*@import './components/nav';*/
header {
  background: url("../img/header_background.png") center/cover no-repeat;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 29px 140px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 41px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.logo-title {
  margin-left: 11px;
}

.logo-image-container {
  position: relative;
}

.logo-image-container > img {
  height: 80px;
  width: 80px;
}

.logo-image-container::before {
  position: absolute;
  content: '';
  height: 80px;
  width: 80px;
  top: 0;
  left: 0;
  background: url("../img/back_logo_part.png") center/cover no-repeat;
}

.header_navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 454;
  background-color: #F5C506;
}

.header_navigation::before {
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  width: 454px;
  height: 42px;
  background-color: rgba(245, 197, 6, 0.3);
}

.header_navigation::after {
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  width: 454px;
  height: 42px;
  background-color: rgba(245, 197, 6, 0.3);
}

.header_link {
  position: relative;
  padding: 15px 12px 13px 49px;
  border-right: 1px solid rgba(155, 125, 8, 0.8);
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #9B7D08;
  z-index: 1;
}

.header_link:hover {
  background: #796104;
}

.header_link:nth-child(1) {
  padding: 15px 22px 13px 70px;
}

.header_link:nth-child(2) {
  padding: 15px 12px 13px 42px;
}

.header_link:nth-child(3) {
  border: none;
}

.header_link:nth-child(1)::before {
  position: absolute;
  content: '';
  height: 22px;
  width: 20px;
  top: 11px;
  left: 39px;
  background: url("../img/about_icon.png") center/cover no-repeat;
}

.header_link:nth-child(2)::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  top: 11px;
  left: 13px;
  background: url("../img/service_icon.png") center/cover no-repeat;
}

.header_link:nth-child(3)::before {
  position: absolute;
  content: '';
  height: 19px;
  width: 25px;
  top: 11px;
  left: 16px;
  background: url("../img/contact_icon.png") center/cover no-repeat;
}

.header-slyder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 71px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-slyder_btn {
  position: relative;
  font-size: 0;
  width: 33px;
  height: 58px;
  background-color: #F5C506;
  opacity: 0.7;
  border: none;
}

.header-slyder_btn:hover {
  opacity: 1;
}

.header-slyder_btn:nth-child(1)::after {
  position: absolute;
  content: '';
  top: 19px;
  left: 7px;
  height: 20px;
  width: 14px;
  background: url("../img/left_arrow_icon.png") center/cover no-repeat;
}

.header-slyder_btn:nth-child(4)::after {
  position: absolute;
  content: '';
  top: 19px;
  left: 7px;
  height: 20px;
  width: 14px;
  background: url("../img/right_arrow_icon.png") center/cover no-repeat;
}

.video-container {
  position: relative;
  width: 549px;
  height: 327px;
}

.video-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-slyder_player {
  overflow: hidden;
}

.video-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.big-play-btn {
  position: absolute;
  left: calc(50% - 34px);
  top: calc(50% - 34px);
  height: 68px;
  width: 68px;
  border-radius: 50%;
  border: none;
  background: url("../img/play_icon.png") 55% center no-repeat;
  background-size: 20px;
  background-color: #F5C506;
  opacity: 0.7;
}

.big-play-btn:hover {
  opacity: 1;
}

.mini-play-btn {
  position: absolute;
  bottom: 22px;
  left: 30px;
  height: 27px;
  width: 27px;
  border: none;
  background: url("../img/play_icon.png") 55% center no-repeat;
  background-size: 11px;
  background-color: #F5C506;
  opacity: 0.5;
}

.mini-play-btn:hover {
  opacity: 1;
}

.timeline_shadow {
  position: absolute;
  -webkit-appearance: none;
  margin: 0;
  bottom: 29px;
  left: 81px;
  width: 404px;
  height: 12px;
  background-color: rgba(245, 197, 6, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

#seekBar:focus {
  outline: none;
}

#seekBar::-webkit-slider-runnable-track {
  width: 404px;
  height: 12px;
  -webkit-appearance: none;
  cursor: pointer;
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 3px;
  cursor: pointer;
}

.timeline-container {
  position: absolute;
  bottom: 29px;
  left: 81px;
  width: 404px;
  height: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.timeline {
  height: 100%;
  width: 0px;
  background-color: #F5C506;
}

.volume-line {
  position: absolute;
  right: -1px;
  bottom: 78px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 70px;
  height: 12px;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
}

.volume-shadow {
  position: absolute;
  right: 28px;
  bottom: 47px;
  width: 12px;
  height: 19px;
  background-color: rgba(245, 197, 6, 0.6);
  border-radius: 5px;
  opacity: 0;
}

#volumebar {
  -webkit-appearance: none;
  height: 10px;
  background-color: rgba(245, 197, 6, 0.3);
  border-radius: 5px;
}

#volumebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 12px;
  width: 1px;
}

#volumebar::-moz-range-thumb {
  height: 12px;
  width: 1px;
}

#volumebar::-webkit-slider-runnable-track {
  border-radius: 5px;
}

#volumebar::-ms-track {
  height: 12px;
  width: 70px;
  background-color: turquoise;
}

.volume-control {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 0;
  bottom: 0px;
}

.volume-btn {
  position: absolute;
  right: 25px;
  bottom: 28px;
  width: 16px;
  height: 16px;
  background: url("../img/volume_icon.png");
  border: none;
  opacity: 0.5;
}

.volume-btn:hover {
  opacity: 1;
}

.header-slyder_title {
  width: 392px;
  font-family: 'Asap', sans-serif;
  font-size: 63px;
  color: #F5C506;
  text-transform: uppercase;
}

.header-slyder_title > span {
  color: #FFFFFF;
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 2px #000000;
          box-shadow: 0 0 10px 2px #000000;
}

.navigation-btn {
  position: relative;
  height: 213px;
  width: 338px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.navigation-btn:nth-child(1) {
  background: url("../img/design_icon.png") center 40% no-repeat;
}

.navigation-btn:nth-child(2) {
  background: url("../img/customise_icon.png") center 40% no-repeat;
}

.navigation-btn:nth-child(3) {
  background: url("../img/free_icon.png") center 40% no-repeat;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation-btn > p {
  position: absolute;
  width: 100%;
  bottom: 37px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 27px;
  text-align: center;
  color: #000000;
}

main {
  position: relative;
  height: 509px;
  padding: 42px 142px 21px;
  background: #f6cd27;
  background-image: linear-gradient(45deg, rgba(245, 197, 7, 0.8) 25%, transparent 0, transparent 75%, rgba(245, 197, 7, 0.8) 0), linear-gradient(45deg, rgba(245, 197, 7, 0.8) 25%, transparent 0, transparent 75%, rgba(245, 197, 7, 0.8) 0);
  background-size: 40px 40px;
  background-position: 0 10px, 20px 30px;
  -webkit-box-shadow: inset 0px 7px 9px -7px #000000;
          box-shadow: inset 0px 7px 9px -7px #000000;
}

.plus {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../img/plus_icon.png") center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.main-section_title {
  color: #FFFFFF;
  margin-bottom: 40px;
  font-family: PTSans-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 37px;
  text-transform: uppercase;
}

.news-slyder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1016px;
  overflow-x: scroll;
}

.news-slyder::-webkit-scrollbar {
  width: 12px;
}

.news-slyder::-webkit-scrollbar-track {
  height: 80%;
  border-radius: 10px;
  background-color: rgba(251, 230, 150, 0.6);
}

.news-slyder::-webkit-scrollbar-thumb {
  background-color: #EC9E03;
  border-radius: 10px;
}

.item-container {
  width: 1016px;
  margin: 0 20px 0 0;
}

.news-slyder_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-slyder_item > p {
  position: relative;
  width: 341px;
  padding: 25px 38px 34px 31px;
  background-color: #EC9E03;
  color: #FFFFFF;
  font-family: SegoeWP-Light,AdobeInvisFont,MyriadPro-Regular;
  font-size: 29px;
}

.news-slyder_item > p > .plus {
  bottom: 13px;
  right: 14px;
}

.new-slyder_player {
  width: 315px;
  height: 233px;
  background: url("../img/news_player.png") center no-repeat;
}

.new-slyder_player > .big-play-btn {
  top: calc(50% - 68px);
}

.twitter {
  position: relative;
  margin-left: 34px;
  width: 329px;
  height: 233px;
  background: url("../img/twitter_icon.png") center center no-repeat;
  background-size: 50%;
  background-color: #EC9E03;
}

.twitter > .plus {
  right: 9px;
  bottom: 13px;
}

.twitter::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: '22';
  color: #FFFFFF;
  font-family: SegoeWP-Light,AdobeInvisFont,MyriadPro-Regular;
  font-size: 25px;
}

.slyder_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 27px 9px 31px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  font-family: SegoeUI-Bold,AdobeInvisFont,MyriadPro-Regular;
  background-color: #DDB101;
}

.slyder_date_day {
  color: #FFFFFF;
  font-size: 51px;
}

.slyder_date_month {
  color: #B26529;
  font-size: 21px;
}

main > .timeline_shadow {
  position: absolute;
  width: 897px;
  bottom: 22px;
  left: 192px;
  background-color: #FBE696;
}

.descritpion {
  padding: 47px 142px;
  background-color: #4C4C4C;
  -webkit-box-shadow: inset 0px -1px 4px 1px #000000;
          box-shadow: inset 0px -1px 4px 1px #000000;
}

.descritpion .main-section_title {
  color: #F5C506;
  margin-bottom: 57px;
}

.descrption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.device-image:nth-child(1) {
  position: relative;
  margin: 0 12px;
  height: 255px;
  width: 323px;
  background: url("../img/pc_image.png") center no-repeat;
  background-size: 100%;
}

.device-image:nth-child(1)::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 117px;
  height: 117px;
  top: -44px;
  left: -21px;
  content: 'Its 100% Free';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background: #F5C506;
  color: #FFFFFF;
  border-radius: 50%;
}

.device-image:nth-child(2) {
  margin: 42px 12px 40px;
  height: 173px;
  width: 129px;
  background: url("../img/tablet_image.png") center no-repeat;
  background-size: 100%;
}

.device-image:nth-child(3) {
  margin: 150px 12px 40px;
  height: 64px;
  width: 39px;
  background: url("../img/phone_image.png") center no-repeat;
  background-size: 100%;
}

.description_list {
  width: 345px;
  margin-left: 79px;
  color: #A9A9A7;
}

.description_list > li {
  position: relative;
  margin: 13px 0;
  font-size: 22px;
}

.description_list > li::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  top: 3px;
  left: -30px;
  border-radius: 50%;
  background-color: #F5C506;
}

footer {
  padding: 6px 142px;
  background-color: #4C4C4C;
}

footer .logo-image-container > img {
  width: 55px;
  height: 55px;
}

footer .logo-image-container::before {
  width: 55px;
  height: 55px;
}

footer .logo-title {
  margin-left: 9px;
  font-size: 29px;
}

/*@import './config/media';*/
